
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.top-navigation > .content {

	width: 200rem;
	height: 70px;
	margin: 0 auto;
	padding: 0 20rem;
}

.logo {

 	height: 70px;
	margin-top: 10px;
	margin-bottom: 5px;
}	

.links li {
	
	display: inline-block;
	margin-left: 25px;
	position: relative;
	
}

a:link {
	
	text-decoration: none;

} 











	



