
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

font-family: 'Roboto', sans-serif;
font-size: 16px;
font-color: #838994;
letter-spacing: 0.03em;

.top-navigation > .content {

	width: 200rem;
	height: 70px;
	margin: 0 auto;
	padding: 15px 10rem;
}

.logo {

 	height: 70px;
	margin-top: 10px;
	margin-left: 15em;
}	

.links li {
	
	display: inline-block;
	margin-left: 25px;
}


.links {

	margin-top: -40px;
	margin-left: 25em;
}

a:link {
	
	text-decoration: none;
	
} 

a:hover {

	color: green;
}

.introduction {

	background-image: url("../images/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 46rem;
	overflow: auto;
}


h1 h3 {

	color: #fff;
}









	



