
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

font-family: 'Roboto', sans-serif;
font-size: 16px;
font-color: #838994;
letter-spacing: 0.03em;


.top-navigation {

	position: fixed;

}

.top-navigation > .content {

	width: 200rem;
	height: 70px;
	margin: 0 auto;
	padding: 15px 10rem;
}

.logo {

 	height: 70px;
	margin-top: 10px;
	margin-left: 15em;
}	

.links li {
	
	display: inline-block;
	margin-left: 25px;
}


.links {

	margin-top: -40px;
	margin-left: 25em;
}

a:link {
	
	text-decoration: none;
	
} 

a:hover {

	color: green;
	cursor: pointer;
}

.introduction {

	background-image: url("../images/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 46rem;
	overflow: auto;
}


h1 {

	color: #fff;
	margin-top: 12.5rem;
	font-size: 3.125rem;
	font-weight: 300;
	text-align: center;
}


h3 {

	color: #fff;
	margin-top: 1.25rem;
	font-size: 1.525rem;
	font-weight: 300;
	text-align: center;
}

button {

	margin: 0 auto;
	display: block;
	background-color: rgb(255, 97, 0);
	padding: 1rem 1.5rem;
	border-style: none;
	border-radius: 4px;
	border-width: 10px;
	color: white;
	font-size: 20px;

}

button:hover {

	background-color: rgb(255, 80, 0);
	cursor: pointer;
}


.details h1 {

	color: black;
	margin-top: 7.625rem;
	font-size: 2.725rem;
}

.icons li {

	display: inline-block;
	margin-left: 75px;
}
	
.icons {

	margin-top: 3.5rem;
	margin-left: 15em;
}

.details h3 {

	color: black;
}


.lettering li {

	display: inline-block;
	margin-left: 75px;
}




